# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
all_inf = pd.DataFrame()
for i in range(10):
    all_inf = all_inf.append(pd.read_csv("Students_marks_" + str(i) + ".csv").merge(pd.read_csv("Students_info_" + str(i) + ".csv")))

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
all_inf = all_inf.drop(columns='index')
all_inf.head(10)

,math score,reading score,writing score,gender,race/ethnicity,parental level of education,lunch,test preparation course,group
0,72,72,74,female,group B,bachelor's degree,standard,none,group1
1,69,90,88,female,group C,some college,standard,completed,group1
2,90,95,93,female,group B,master's degree,standard,none,group1
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1
4,76,78,75,male,group C,some college,standard,none,group1
5,71,83,78,female,group B,associate's degree,standard,none,group1
6,88,95,92,female,group B,some college,standard,completed,group1
7,40,43,39,male,group B,some college,free/reduced,none,group1
8,64,64,67,male,group D,high school,free/reduced,completed,group1
9,38,60,50,female,group B,high school,free/reduced,none,group1

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
all_inf.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
all_inf[all_inf.columns[all_inf.dtypes == 'int64']].describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
all_inf.isna().sum()

math score                     0
reading score                  0
writing score                  0
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
all_inf = all_inf.rename(columns={'math score':'math_score', 'reading score':'reading_score','writing score':'writing_score'})

In [8]:
all_inf[['math_score','reading_score','writing_score']].mean()

math_score       66.089
reading_score    69.169
writing_score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [9]:
all_inf['completed'] = pd.get_dummies(all_inf['test preparation course'])['completed']

In [10]:
all_inf.groupby(by='completed').mean()

           math_score  reading_score  writing_score
completed
0           64.077882      66.534268      64.504673
1           69.695531      73.893855      74.418994

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [11]:
%%timeit

all_inf['lunch'].value_counts()

763 µs ± 20.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [12]:
all_inf.rename(columns={"parental level of education":"education","test preparation course":"test preparation"},inplace=True)

**Зафиксируем минимальный балл для сдачи экзамена**

In [33]:

passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [14]:
all_inf[(all_inf['math_score']<50)&(all_inf['completed']==0)]['gender'].value_counts(normalize=True)

female    0.654206
male      0.345794
Name: gender, dtype: float64

In [15]:
all_inf[all_inf['math_score']>=50]['gender'].count()/ all_inf['gender'].count()

0.865

In [16]:
all_inf[(all_inf['math_score']>=50)&(all_inf['completed']==1)]['gender'].count() / all_inf['gender'].count()

0.33

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [17]:
%%timeit
all_inf.groupby(by='race/ethnicity').agg({'reading_score':'mean'})

1.86 ms ± 37.5 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
all_inf.groupby(by='education')['writing_score'].min()

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing_score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [19]:
%%timeit
group_A = []
group_B = []
group_C = []
group_D = []
group_E = []
for i,j in zip(all_inf['race/ethnicity'],all_inf['reading_score']):
    if i == "group A":
        group_A.append(j)
    elif i == "group B":
        group_B.append(j)
    elif i == "group C":
        group_C.append(j)
    elif i == "group D":
        group_D.append(j)
    elif i == "group E":
        group_E.append(j)
df = [sum(group_A)/len(group_A), sum(group_B)/len(group_B),sum(group_C)/len(group_C),sum(group_D)/len(group_D),sum(group_E)/len(group_E)]
pd.DataFrame(df, index=['group_A','group_B','group_C','group_D','group_E'])

851 µs ± 68 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [26]:
pd.pivot_table(all_inf, index=['gender', 'education'],aggfunc='mean')

                           completed  math_score  reading_score  writing_score
gender education
female associate's degree   0.362069   65.250000      74.120690      74.000000
       bachelor's degree    0.349206   68.349206      77.285714      78.380952
       high school          0.308511   59.351064      68.202128      66.691489
       master's degree      0.388889   66.500000      76.805556      77.638889
       some college         0.355932   65.406780      73.550847      74.050847
       some high school     0.384615   59.296703      69.109890      68.285714
male   associate's degree   0.377358   70.764151      67.433962      65.405660
       bachelor's degree    0.436364   70.581818      68.090909      67.654545
       high school          0.264706   64.705882      61.480392      58.539216
       master's degree      0.260870   74.826087      73.130435      72.608696
       some college         0.324074   69.009259      64.990741      63.148148
       some high school     0.477273   67.840909      64.693182      61.375000

In [21]:
all_inf

,math_score,reading_score,writing_score,gender,race/ethnicity,education,lunch,test preparation,group,completed
0,72,72,74,female,group B,bachelor's degree,standard,none,group1,0
1,69,90,88,female,group C,some college,standard,completed,group1,1
2,90,95,93,female,group B,master's degree,standard,none,group1,0
3,47,57,44,male,group A,associate's degree,free/reduced,none,group1,0
4,76,78,75,male,group C,some college,standard,none,group1,0
...,...,...,...,...,...,...,...,...,...,...
95,88,99,95,female,group E,master's degree,standard,completed,group10,1
96,62,55,55,male,group C,high school,free/reduced,none,group10,0
97,59,71,65,female,group C,high school,free/reduced,completed,group10,1
98,68,78,77,female,group D,some college,standard,completed,group10,1
99,77,86,86,female,group D,some college,free/reduced,none,group10,0

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [31]:
def P_F(score):
    if score >= passmark:
        return('P')
    else:
        return('F')

In [34]:
all_inf['Math_PassStatus'] = all_inf['math_score'].apply(lambda score: P_F(score))

In [36]:
all_inf['Math_PassStatus'].value_counts()

P    865
F    135
Name: Math_PassStatus, dtype: int64

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
# your code here

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
def GetGrade(average_mark):
    # your code here    

# your code here